*{
    font-family: 'Emilys Candy', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');
#hero .bg-img{
    margin-top: 80px;
}
nav span i{
    margin-left: -30px;
    margin-top: 10px;
}
.nav-logo{
    height: 60px;
    width: 60px;
}
.nav-text{
    color: blue;
}
.hero-text{
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
    padding-right: 70px;

}
.hero-img{
    width: 700px;

}

.neo{
    font-size: 20px;
}
#hero .box{
    text-align: right;
    
}
#hero .home-page{
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-left: 50px;
}
#hero .home-page:hover{
    font-size: 30px;
    color: rgb(228, 113, 19);
}
#hero .home-page{
    text-decoration: none;
}
#hero .neo-ab{
    background-color: cornflowerblue ;
}
#hero .neo-ct{
    background-color: cornflowerblue;
}
.box{
    width: 200px;
    background-color: rgb(5, 5, 5)
}
.img{
    width: 350px;
}
.neo-program{
    height: 100px;
    width: 100px;
    background-color:#017acd ;
    color: white;
}
.neo-programbox{
    height: 100px;
    width: 100px;
    background-color:#003da5;
    color: white;
}
.neo-programbox1{
    height: 100px;
    width: 100px;
    background-color:#02224b;
    color: white;
}
.text{
    text-decoration: none;
    color: white;
}
#footer{
    background-color: #002f6c;
}
#footer .footer-text{
    color: white;
    padding-top: 50px;
    font-size: 50px;
}
#footer .footer-text1{
    color: white;
    font-size: 25px;
}
#footer .buttn{
    padding-left: 350px;
}
#footer .button{
    border-radius: 10px;
    height: 40px;
}
#footer .button:hover{
    border-radius: 10px;
    height: 40px;
    background-color: steelblue;
}

