@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    font-family: 'Saira Condensed', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
.bg{
    background-color:#2c3e50;
    height: 105px;
    font-family: arial;
}
.bg a{
    color: white;
}
.navbar-brand{
    margin-left: 10px;
    font-size:20px;
}
.nav-item{
    margin-left: 30px;
}
.navbar-nav{
    margin-right: 25px;
}
.collapse{
    flex-grow: unset;
}
.navbar-toggler-icon{
    background: url("https://icon-library.com/images/three-bars-icon/three-bars-icon-6.jpg");
    background-size: contain;
}
.bg a:hover{
    color:#1abc9c;
}
#hero{
    height: 90vh;
    background-color:#1abc9c ;
}
.heroimg{
    height:255px;
    margin-top:15vh;
    padding-left: 250px;
}
.text{
    margin-top: 30px;
    color: white;
    font-family: "Arial";
    font-size: 65px;
    text-align: center;
}
.text1{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 20px;
}
#hero .divider{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}
#hero .divider .divider-left{
    margin-right:20px;
    width: 100px;
    height: 6px;
    background-color: white;
    border-radius: 4px;
    padding-right: 20px;
}
#hero .divider .divider-right{
    margin-left:20px;
    width: 100px;
    height: 6px;
    background-color: white;
    border-radius: 4px;
}
.scroll-to-top{
  background-color: #1abc9c;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;  
}
.scroll-to-top i{
    color:white;
    font-size: 32px;
}

#portfolio .divider{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    margin-top: 20px;
}
#portfolio .divider .divider-left{
    margin-right:20px;
    width: 125px;
    height: 6px;
    background-color:black;
    border-radius: 4px;
    padding-right: 20px;
}
#portfolio .divider .divider-right{
    margin-left:20px;
    width: 125px;
    height: 6px;
    background-color:black;
    border-radius: 4px;
}
.foliotext{
    font-size: 65px;
    text-align: center;
    margin-top: 80px;
    color: black;
}
#portfolio .photos{
    height:200px ;
    width: 300px;
    border-radius: 15px;
}
#portfolio .overlay{
    transition: ease-out 0.5s;
    position: absolute;
    background-color:#1abc9c;
    font-size: 100px;
    height: 200px;
    width: 300px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#portfolio .overlay a{
    color: white;
}
#portfolio .overlay a:hover{
    color: white;
    cursor: pointer;
}
#portfolio .portfolio-item .overlay:hover {
    transition: ease-in 0.5s;
    opacity: 0.8;
}
#about{
    background-color:#1abc9c ;
    font-size: 20px;
    color: white;
}
#about .text{
    color: white;
    font-size: 25px;
}
#about .divider{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
#about .divider .divider-left{
    margin-right:10px;
    width: 80px;
    height: 6px;
    background-color:white;
    border-radius: 4px;
    padding-right: 20px;
}
#about .divider .divider-right{
    margin-left:10px;
    width: 80px;
    height: 6px;
    background-color:white;
    border-radius: 4px;
}
#about .download{
    border: 1px solid white;
    width: 200px;
    height: 70px;
    background-color: #1abc9c;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 0px;
    justify-content: center;
    margin-left: 70px;
}
#about .download:hover{
    border: 1px solid white;
    color: black;
    background-color: white;
}
#contact-part{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black(199, 28, 28); 
    font-size: 20px;
}
#contact-part .txt{
    font-size: 20px;
 
}
#contact-part .divider{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    text-align: center;
}
#contact-part .divider .divider-left{
    margin-right:10px;
    width: 80px;
    height: 6px;
    background-color:black;
    border-radius: 4px;
    padding-right: 20px;
}
#contact-part .divider .divider-right{
    margin-left:10px;
    width: 80px;
    height: 6px;
    background-color:black;
    border-radius: 4px;
}
#contact-part input{
    border: none;
}
#contact-part textarea{
    border: none;
}
.send-button{
    height: 50px;
    width: 80px;
    border-radius: 7px;
    background-color: #1abc9c;
    color: white;
}
.send-button:hover{
    height: 50px;
    width: 80px;
    border-radius: 7px;
    background-color: #0b6150;
}
#footer{
    background-color: #2c3e50;
    color: white;
}
#footer .bg-copy{
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer .footer-logo .logo{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 50px;
    font-size: 24px;
    border-radius: 50%;
    border: 2px white solid;
    text-align: center;
    padding-top: 10px;
    float: left;
    margin-right: 10px;
}

#footer .footer-logo .logo:hover{
background-color: white;
color:#2c3e50;
}
#footer .text-foot{
    color: #1f836f;
    text-decoration: none;
}
#footer .text-foot:hover{
    color:#226457;
    text-decoration: underline;
}












 










